/*Header and nav bar css*/
/*
==================================================================
====	Custom Variables
==================================================================
*/

:root {
	--main: black;	--main-transparent: rgba(0, 0, 0, 0.5);
	--contrast: white;	--contrast-transparent: rgba(255, 255, 255, 0.5);
	--highlight-color: #F4A64E;	--highlight-color-tone: #F6B873;
}

/*
==================================================================
====	Global
==================================================================
*/

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--main);
	overflow-x: hidden;
	margin:auto;
}

* {
	font-family: 'Consolas', 'Segoe UI', 'Tahoma', 'Geneva',
				 'Verdana', 'sans-serif';
	margin: 0px;
	padding: 0px;
	border: 0px;
	text-decoration:none;
}

ul {
	margin: auto;
	padding: 0;
	border: 0;
}

li {
	margin: 0px;
	padding: 0px;
	border: 0px;
	text-decoration: none;
	display: inline;
}

/* GOTTA CHANGE? */
a, a:hover {
	color: white;
}

.hide {
	display: none;
}


/* ========================================================================== */

.container {
	width: 85vw;
	margin-left: auto;	margin-right: auto;
}



/*
==================================================================
====	Global - size
==================================================================
*/
.page {
	height: 100vh;	max-height: 100vh;
	width: 100vw;	max-width: 100vw;
	overflow:hidden;
	position: relative;
}

.container-lg {
	min-width: 85vw;	max-width: 85vw;
	/* Maybe won't work */
	margin-left: auto;	margin-right: auto;
	/* Alternative */
	margin-left: 7.5vw;
	/* margin-right: 7.5vw; */
}

.container-md {
	min-width: 50vw;	max-width: 50vw;
	/* Alternative */
	margin-left: 25vw;	margin-right: 25vw;
}

.container-sm {
	min-width: 25vw;	max-width: 25vw;
	/* Alternative */
	margin-left: 37.5vw;	margin-right: 37.5vw;
}

.height-100 {	height: 100vh;	}

.height-one-third {	height: 33.33333vh;	max-height: 33.33333vh	}

.height-two-third {	height: 66.66666vh;	max-height: 66.66666vh;	}

.height-half {	height: 50vh;	max-height: 50vh;	}

.height-one-fourth {	height: 25vh;	max-height: 25vh;	}

.height-three-fourth {	height: 75vh;	max-height: 75vh;	}

.height-one-eight { height: 12.5vh;  max-height: 12.5vh;  }

.width-100 {	width: 100vw;	}

.width-one-third {	width: 33.33333vw;	max-width: 33.33333vw	}

.width-two-third {	width: 66.66666vw;	max-width: 66.66666vw;	}

.width-half {	width: 50vw;	max-width: 50vw;	}

.width-one-fourth {	width: 25vw;	max-width: 25vw;	}

.width-three-fourth {	width: 75vw;	max-width: 75vw;	}

.width-one-eight {  width: 12.5vw;   max-width: 12.5vw;   }

/*
==================================================================
====	Global - Color
==================================================================
*/
.bg-black {	background-color:  rgba(0, 0, 0, 1);	}

.bg-black-transparent {	background-color:  rgba(0, 0, 0, 0.5);	}

.bg-white {	background-color: rgba(255, 255, 255, 1);	}

.bg-white-transparent {	background-color: rgba(255, 255, 255, 0.5);}

.bg-main {	background-color: var(--main);	}

.bg-main-transparent {	background-color: var(--main-transparent);	}

.bg-contrast {	background-color: var(--contrast);	}

.bg-contrast-transparent {	background-color: var(--contrast-transparent);	}

.bg-highlight {	background-color: var(--highlight-color);	}

.bg-tone {	background-color: var(--highlight-color-tone);	}

.bg-transparent {	background-color: transparent;	}

.txt-black {	color:  rgba(0, 0, 0, 1);	}

.txt-white {	color: rgba(255, 255, 255, 1);	}

.txt-main {	color: var(--main);	}

.txt-contrast {	color: var(--contrast);	}

.txt-highlight {	color: var(--highlight-color);	}

.txt-tone {	color: var(--highlight-color-tone);	}

/*
==================================================================
====	Text sizes
==================================================================
*/
.txt-static-lg {	font-size: 40px;	}

.txt-static-md {	font-size: 25px;	}

.txt-static-reg {	font-size: 16px;	}

.txt-static-sm {	font-size: 10px;	}

.txt-8 {	font-size: 8vmin;	}

.txt-5 {	font-size: 5vmin;	}

.txt-4 {	font-size: 4vmin;	}

.txt-3 {	font-size: 3vmin;	}

.txt-2 {	font-size: 2vmin;	}

.txt-1 {	font-size: 1vmin;	}

/*
==================================================================
====	Position/display
==================================================================
*/
.fixed {	position: fixed;	}

.absolute {	position: absolute;	}

.sticky {	position: sticky;	}

.block {	display:block;	}

.inline {	display:inline;	}

/*
==================================================================
====	Alignment
==================================================================
*/
.centered {	margin-left: auto;	margin-right: auto;	}

.middle {	margin-top: auto;	margin-bottom: auto;	}

.txt-center {	text-align: center;	}

/*
==================================================================
====	Float
==================================================================
*/
.left {	float: left;	}

.right {	float: right;	}

.clear {	clear: both;	}

/*
==================================================================
====	Location
==================================================================
*/
.loc-top {		top: 0px;	}

.loc-right {	right: 0px;	}

.loc-left {	left: 0px;	}

.loc-bottom {	bottom: 0px;	}

.loc-center {
	transform: translate(50%, 50%);
	top: 50%;
	left: 50%;
}


/* OTHER STUFF */
.uppercase {	text-transform: uppercase;	}

.overflow-hide {	overflow: hidden;	}

.no-wrap {	white-space: nowrap;	}

.background {	z-index: -1	}

.border-rounded {
	border-radius: 10px;
}
